<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <application>
        <activity android:name=".ARActivity" />
        <meta-data android:name="com.google.ar.core" android:value="required" />
    </application>
</manifest>